body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #456c8f;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #355c7d;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Set the desired border radius */
}


.title {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
}

.content {
  margin-top: 20px;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
}

.input-box {
  flex: 1 1 calc(50% - 20px);
  margin: 10px;
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button {
  text-align: center;
  margin-top: 20px;
}

.button input {
  background-color: #4267B2; /* Facebook blue */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button input:hover {
  background-color: #405f90; /* Darker blue on hover */
}

@media only screen and (max-width: 600px) {
  .user-details {
    flex-direction: column;
  }

  .input-box {
    flex: 1 1 100%;
  }
}
